body {
    font:helvetica, arial, sans-serif;
    margin:0em;
}


.cover {
    height: 400px;
    color: white;
    background-image: url("./portada.jpg" );
    background-size: cover;
    background-position:center;
    background-color: rgba(0,0,0, 0.60);
    background-blend-mode: darken;
}   