body {
    font:helvetica, arial, sans-serif;
    margin:0em;
}


.cover {
    height: 400px;
    color: white;
    background-image: url(rumman-amin-IFBu75dwGJs-unsplash (1).jpg);
    background-size: cover;
    background-position:center;
    background-color: rgba(0,0,0, 0.30);
    background-blend-mode: darken;
}   