body {
    font:helvetica, arial, sans-serif;
    margin:0em;
}


.cover {
    height: 400px;
    color: white;
    background-image: url("./portada.jpg" );
    background-size: cover;
    background-position:center;
    background-color: rgba(0,0,0, 0.60);
    background-blend-mode: darken;
} 

.card {
    border:0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0, 0.1), 0 2px 6px -1px rgba(0,0,0,0.06);
}